<div class="card">
  <div class="card-content">
    <div class="card-title">Financial Report</div>
    <table class="financial-report">
      <thead>
        <tr>
          <th class="employee-column">Name</th>
          <th class="units-column">Units Sold (millions)</th>
          <th class="revenue-column">Total</th>
        </tr>
      </thead>

      <tbody>
        <tr
          *ngFor="let record of records; even as shouldStripe"
          [class.stripe]="shouldStripe"
        >
          <!--
            If we don't know the class name ahead of time, use [ngClass].
          -->
          <td class="employee-name" [ngClass]="regionClass(record)">
            {{ record.empName }}
          </td>
          <td>
            <div
              class="bar"
              [class.bonus]="record.rank === 1"
              [class.fired]="record.rank >= 7"
              [style.width.%]="record.units * unitsScale"
            ></div>
          </td>
          <td>
            <div
              class="bar"
              [class.bonus]="record.rank === 1"
              [class.fired]="record.rank >= 7"
              [style.width.%]="record.totalRevenue * revenueScale"
            ></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
